<ion-view cache-view="false" view-title="Add Expense">
   <div ng-if="!vm.isCreating && !vm.isEditing">
        <ion-content class="padding has-header">
        

           <label class="item item-input">
            <span class="input-label">Month</span>
            <input value="" placeholder="yyyy-MM-dd" type="month" ng-model="vm.month" ng-change="vm.dateChange()">
          </label>

          <!-- <label class="item item-input">
            <span class="input-label">Number</span>
            <input type="number"  ng-change="vm.dateChange()" ng-model="vm.currentMonth">
          </label>  -->
<ion-checkbox ng-change="vm.showSubCat()" ng-model="isChecked">Show Sub-Categories</ion-checkbox>


          <div class="card">
                <div class="item item-divider ">
                Category Data
                </div>
                <div class="item item-text-wrap ">
                        <canvas id="pie" class="chart chart-pie" chart-data="categoryDiagData" chart-labels="categoryDiagLabels" chart-legend="true"></canvas> 
                </div>
           </div>

            <div ng-hide="IsVisible" class="card">
                <div class="item item-divider ">
                SubCtegory Data 
                </div>
                <div class="item item-text-wrap ">
                        <canvas id="pietwo" class="chart chart-pie" chart-data="subCategoryDiagData" chart-labels="subCategoryDiagLabels" ></canvas> 
                </div>
           </div>



           <button ng-click="vm.isCreating = true" class="button button-full button-royal">
              Add Expense
            </button>
        </ion-content>
    </div>

    
    <div ng-if="vm.isCreating">

        <ion-content class="padding has-header">
            <!-- CREATING -->
            <!-- Cancel Create-->
            <div class="bar bar-header">
                <h2 class="title">Create Expense</h2>

                <span ng-click="vm.cancelCreate()" class="cancel-create">Cancel</span>
            </div>

            <div class="bar bar-subheader">
                <form class="create-form" role="form"
                      ng-submit="vm.create(vm.newObject)" novalidate>
                    <div class="list">
                        <!-- Type -->
                        <label  class="item item-input item-stacked-label"  for="singleSelect"> Type select: </label><br>
                        <select  class="item item-input item-stacked-label" name="singleSelect" ng-model="vm.newObject.subcategory">
                          <option ng-repeat="subcategory in subCategoryArray" value="{{subcategory}}">{{subcategory}}</option>
                        </select><br>


                        <!-- Amount-->
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Amount</span>
                            <input type="number" class="form-control"
                                   ng-model="vm.newObject.amount"
                                   placeholder="22">
                        </label>
                        <!-- Date-->
                        <!-- <label class="item item-input">
                            <span class="input-label">Date</span>
                            <input type="date" class="form-control"  >
                          </label> -->
                        <!-- Memo-->
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Memo</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.newObject.memo"
                                   placeholder="Enter memo">
                        </label>
                        <!-- Submitter-->
                        <!-- <label class="item item-input item-stacked-label">
                            <span class="input-label">Submitter</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.newObject.submitter"
                                   placeholder="Enter submitter">
                        </label> -->
                    </div>
                    <button ng-click="vm.refresh()" class="button button-block button-positive" type="submit">Create</button>

                </form>

            </div>
        </ion-content>
    </div>

    
    
</ion-view>

