<ion-view cache-view="false" view-title="Diagnostics">
   
        <ion-content class="padding has-header">
             <!-- CREATING -->
            <!-- Cancel Create-->
            <div class="bar bar-header">
                <h2 class="title">Create Expense</h2>

                <span ng-click="vm.cancelCreate()" class="cancel-create">Cancel</span>
            </div>

            <div class="bar bar-subheader">
                <form class="create-form" role="form"
                      ng-submit="vm.create(vm.newObject)" novalidate>
                    <div class="list">
                        

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">category</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.newObject.category"
                                   placeholder="Enter category carefully">
                        </label>

                         <label class="item item-input item-stacked-label">
                            <span class="input-label">subcategory</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.newObject.subcategory"
                                   placeholder="Enter subcategory carfully">
                        </label>


                    </div>
                    <button ng-click="vm.refresh()" class="button button-block button-positive" type="submit">Create</button>

                </form>

        </ion-content>
    



  
    
</ion-view>

